.header-one {
  font-size: 5vh;
  color: #1b91d7;
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
  border-bottom: 2px solid #1b91d7;
}

.card {
  margin: 3vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
}
.dropdown {
  width: 500px;
  padding-left: 30px;
}
